.routes_of_america_logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.first_title_line{
    position: absolute;
    left: 100px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    color: yellow;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 120px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    color: yellow;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_county_route_title_image{
    width: 50vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}
#other_routes_and_higways_main_content{
    color: yellow;
}
#other_routes_and_highways_table, td, th{
    border: 3px solid yellow;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#other_routes_and_highways_table{
    width: 100%;
    height: 100%;
}
td, th{
   width: 20%;
   height: 30%; 
}
nav ul{
    list-style-type: none;
    padding: 10px 0;
}
.modal-header,
.modal-body{
    color: black;
}
#email-link,
#copyright-link,
#webportfolio-link{
    color: yellow;
}
#email-link:hover,
#copyright-link:hover,
#webportfolio-link:hover{
    color: orange;
}
#email-link:visited,
#copyright-link:visited,
#webportfolio-link:visited{
    color: white;
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}